/* Geist */
@font-face {
	font-family: "Geist";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src:
		url("./fonts/GeistVF.woff2") format("woff2"),
		url("./fonts/GeistVF.woff") format("woff");
}

@font-face {
	font-family: "Geist Mono";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src:
		url("./fonts/GeistMonoVF.woff2") format("woff2"),
		url("./fonts/GeistMonoVF.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}
